body {
  margin: 10px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.routes {
  display: flex;
  flex-direction: row;
  background-color: rgb(172, 163, 163);
}

.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.link {
  padding: 10px;
}

.signOut {
  cursor: pointer;
  color: rgb(80, 9, 146)
}

.googleSignIn {
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
  color: #4e4e53
}

.googleSignIn:hover {
  background-color: #e2d9e2;
  font-weight: bolder;
}

.signUpLink {
  padding: 10px;
}

.signInLink {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #22223f;
  font-weight: bold;
}

.link a {
  color: white;
}